@keyframes leftRightAnimation {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60px);
  }
}

.leftRightAnimation {
  animation: leftRightAnimation 5s ease-in-out infinite;
}
